@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
}

header {
    display: flex;
    color: #33323D;
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* justify-content: flex-end; */
    justify-content: space-between;

    background-color: yellow;
}

header img {
    /* align-self: flex-start; */
    float: left;
    background-color: aqua;
}

nav {
    float: right;
    display: flex;
}

nav a {
    justify-content: space-between;

    background-color: aquamarine;
}


button {
    width: 202px;
    height: 48px;
    color: hsla(245, 10%, 22%, 1);
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #33323D;
    text-align: center;
}

.manage-img img {
    background-size: cover;
    width: 95%;
    height: 75%;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    overflow-y: hidden;

    border: 2px red dashed;
}

.top-container {
    width: 1205px;
    height: 659px;
    /* display: flex; */
}

.big-intro {
    background-color: white;
    height: 359px;
    width: 447px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 2px blue dotted;
}

.big-intro h1 {
    color: #32323d;
    font-family: "Ibarra Real Nova-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    flex-wrap: wrap;
    letter-spacing: -0.45px;
    line-height: 50px;
    /* position: fixed; */
    width: 390px;
    margin-top: 20px;
}

.big-intro button {
    background-color: #1f394b;
    color: #fff;
    text-transform: uppercase;
    line-height: 48px;

}

.btn-icon {
    float: left;
    width: 48px;
    height: 48px;
    line-height: 48px;
}
