

h3{
    font-size: 50px;
    color: white;
    text-align: center;
}

/* Right contact section */

.contact-info-section{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;

}

/* Location, Phone, Email Section */
.contact-info {
    list-style-type: none;
    margin-left: -80px;
    justify-content: space-around;
  
  }
  
  .contact-info-item {
    line-height: 6;
    color: #ffffff;
     font: 300 14px 'Lexend', sans-serif;
    letter-spacing: 1.9px;
    color: #fdfbfb;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 20px;
    
  }
  
  .place {
       color: #fdfbfb;

  }
  
  .phone {
    color: #fdfbfb;

  }
  
  .gmail {
    color: #fdfbfb;

  }
  
  a, li {
    color: #faf6f6;
    text-decoration: none;
    transition-duration: 0.2s;
    
  }
  
  a:hover {
    color: #2623dc;
    text-decoration: none;
  }
  
.social-contact{
    display: flex;
}

ul {
    list-style-type: none;
}

.social-contact{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 50%;
    color: #fff;
    cursor: pointer; 
    transition: all .2s ease-in-out;
    padding: 0;
    gap: 10px;
}